.alura{
    background-color: var(--alura-proyec-background-color);
    color: var(--alura-proyec-text-color);
    
    
    
}
.en-desallor{

     height: 900px ;
     width: 90%;    
     margin: 0 auto 0 auto;




}