.alura{
    background-color: var(--alura-proyec-background-color);
    color: var(--alura-proyec-text-color);
    
    
    
}
.en-desallor{
     height: 700PX ;
     width: 600PX;    
    




}